@import './../../style/theme-variables.scss';
@import './../../style/mixins.scss';
@import './../../style/common-variables.scss';

.side-menu {
  width: $sidebar-width;
  margin: 0 auto;
  padding: calc($sidebar-width / 8);
  height: calc(100% - 2.5rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  @include themify($themes) {
    background-color: themed('menuItemBg');
  }

  > li {
    width: calc(($sidebar-width / 4) * 3);
    height: calc(($sidebar-width / 4) * 3);
    padding-inline: 0 !important;
    @include addTransitionForProp(width, background-color, border-color);

    > .ant-menu-title-content {
      display: inline-block;
      height: 100%;
    }

    &:hover,
    &:focus {
      overflow: visible;
      width: fit-content;
      backdrop-filter: blur(0.2rem);
      @include themify($themes) {
        background-color: themed('menuItemBgHov') !important;
      }
      @include addTransitionForProp(width, background-color, border-color);

      > .ant-menu-title-content {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        overflow: visible;
      }
      p.menu-item__text {
        display: inline-block;
      }
    }

    p.menu-item__text {
      display: none;
      padding: 0 0.5rem;
    }

    div.menu-item__icon {
      display: inline-block;
      height: 100%;
    }
  }
}
