$chalk-100: #ededed;
$chalk-200: #e7e7e7;
$chalk-300: #dddddd;
$chalk-400: #c2c2c2;
$chalk-500: #a7a7a7;

$black: #000000;
$black-075: #000000bf;
$black-05: #00000080;
$black-025: #00000040;

$sea-100: #c6ebdf;
$sea-200: #a4ecd4;
$sea-300: #73e6c0;
$sea-400: #3dd4a4;
$sea-500: #1baf82;
$sea-600: #1d8e6a;
$sea-700: #1a6e52;
$sea-800: #1a4f3e;
$sea-900: #173028;

$coal-100: #7d7d7d;
$coal-200: #6e6e6e;
$coal-300: #515151;
$coal-400: #373737;
$coal-500: #1f1f1f;

$white: #ffffff;
$white-075: #ffffffbf;
$white-05: #ffffff80;
$white-025: #ffffff40;

$night-100: #a7caf0;
$night-200: #7babde;
$night-300: #558cc7;
$night-400: #4479b2;
$night-500: #3d7dc1;
$night-600: #2e6398;
$night-700: #173d62;
$night-800: #173049;
$night-900: #15212e;

$autumn-sky-900: #060606;
$autumn-sky-700: #1a253b;
$autumn-sky-500: #404c76;
$autumn-sky-300: #6b7cbd;
$autumn-sky-100: #98a8df;

$autumn-leaf-900: #3d1003;
$autumn-leaf-700: #908378;
$autumn-leaf-500: #ffb974;
$autumn-leaf-300: #fffa4d;
$autumn-leaf-100: #fffaf2;

$transparent: #00000000;
