@import './../../style/theme-variables.scss';
@import './../../style/mixins.scss';

.user-menu-drawer {
  max-width: 20rem;
  header {
    @include flex(row, space-between, center);
    padding: 0 0.2rem;
  }

  .menu {
    height: auto;
  }

  .ant-drawer-body {
    padding: 0;
  }

  .ant-list-item-meta {
    @include flex(row, flex-start, center);
    padding: 0 1rem;

    .ant-list-item-meta-content {
      margin-left: 0.5rem;
    }
  }

  .user-menu > li.ant-menu-item > .ant-menu-title-content {
    @include flex(row, space-between, center);
    height: 100%;

    div.menu-item__icon {
      height: 100%;
    }

    p.menu-item__text {
      width: auto;
      margin: auto;
    }
  }
}
