@import './../../../style/theme-variables.scss';
@import './../../../style/mixins.scss';
@import './../../../style/common-variables.scss';

.menu-item {
  box-sizing: border-box;
  position: relative;
  height: 2.5rem;
  border: $menu-item-bd-thickness solid;
  @include addTransitionForProp(background-color, border-color, width, border-radius);
  @include typography();
  cursor: pointer;
  padding-inline-start: 0;
  list-style: none;
  @include themify($themes) {
    background-color: themed('menuItemBg');
    border-color: themed('menuItemBd');
    color: themed('txtColor');
    fill: themed('txtColor');
  }
  margin: 0 0 0.4rem;
  backdrop-filter: none;

  &:last-child {
    margin: 0;
  }

  &:hover {
    @include themify($themes) {
      background-color: themed('menuItemBgHov');
      border-color: themed('menuItemBdHov');
      color: themed('txtColor');
      fill: themed('txtColor');
    }
    @include addTransitionForProp(background-color, border-color);
  }

  &__text {
    font-weight: bold;
    margin: auto 0.5rem;
    white-space: nowrap;
  }

  &__icon {
    display: none;
  }

  @media screen and (min-width: 20rem) {
    display: flex;
    flex-direction: row-reverse;
    height: calc(($sidebar-width / 4) * 3);
    width: calc(($sidebar-width / 4) * 3);
    border-radius: calc((($sidebar-width / 4) * 3) / 2);
    backdrop-filter: blur(0.2rem);
    @include addTransitionForProp(background-color, border-color, width, border-radius);

    @include themify($themes) {
      background-color: themed('menuItemBg');
      border-color: themed('menuItemBd');
      color: themed('txtColor');
      fill: themed('txtColor');
    }

    &__text {
      display: none;
    }

    &__icon {
      display: flex;
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('menuItemBgHovW');
        border-color: themed('menuItemBdHovW');
        color: themed('txtColor');
        fill: themed('txtColor');
      }
      @include addTransitionForProp(background-color, border-color, width, border-radius);
      border-radius: calc($sidebar-width / 2);
      width: fit-content;
      backdrop-filter: blur(0.2rem);

      .menu-item__text {
        display: inline-block;
      }
    }
  }
}
