@import './../../style/theme-variables.scss';
@import './../../style/mixins.scss';
@import './../../style/common-variables.scss';

.sidebar {
  display: none;
  position: absolute;
  flex: 1 0;
  min-height: calc(100vh - $top-bottom-min-height);
  @include themify($themes) {
    background-color: themed('sidebarBg');
    color: themed('txtColor');
  }
  @include addTransitionForProp(background-color, border-color);
  @include typography();

  @media screen and (min-width: 20rem) {
    @include flex(column, flex-start, center);
    position: fixed;
    z-index: 1;
    top: 0;

    flex: 1 0;
    width: $sidebar-width;
    max-width: $sidebar-width;
    min-width: $sidebar-width;
    height: 100vh;
    @include themify($themes) {
      background-color: themed('sidebarBgW');
      color: themed('txtColor');
    }
  }
}
