@import './../../style/theme-variables.scss';
@import './../../style/mixins.scss';
@import './../../style/common-variables.scss';

@mixin inputAutocomplete() {
  box-sizing: border-box;
  height: 2rem;
  padding: $btn-padding;
  border: $btn-bd-thickness solid;
  border-radius: $btn-bd-radius;
  font-weight: $btn-text-weight;
  cursor: pointer;
}

@mixin optionsList() {
  box-sizing: border-box;
  border: $btn-bd-thickness solid;
  border-radius: $btn-bd-radius;
  font-weight: $btn-text-weight;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.autocomplete-wrapper {
  position: relative;

  input.autocomplete {
    @include inputAutocomplete();
    @include themify($themes) {
      background-color: themed('btnBg');
      border-color: themed('btnBd');
      color: themed('btnContent');
    }
    @include addTransitionForProp(background-color, border-color, color);

    &:hover {
      @include themify($themes) {
        background-color: themed('btnBgHov');
        border-color: themed('btnBdHov');
      }
    }
  }

  .options-list {
    @include optionsList();
    @include themify($themes) {
      background-color: themed('btnBg');
      border-color: themed('btnBd');
      color: themed('btnContent');
    }
    @include addTransitionForProp(background-color, border-color, color);
  }

  .options-list li {
    padding: 0.1rem 0.5rem;
  }

  .option_active,
  .options-list li:hover {
    @include themify($themes) {
      background-color: themed('btnBgHov');
      border-color: themed('btnBdHov');
    }
    cursor: pointer;
    font-weight: 700;
  }

  &_bordered {
    input.autocomplete {
      @include inputAutocomplete();
      @include themify($themes) {
        background-color: themed('btnBgBor');
        border-color: themed('btnBdBor');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);

      &:hover {
        @include themify($themes) {
          background-color: themed('btnBgBorHov');
          border-color: themed('btnBdBorHov');
        }
      }
    }

    .options-list {
      @include optionsList();
      @include themify($themes) {
        background-color: themed('btnBgBor');
        border-color: themed('btnBdBor');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);
    }

    .options-list li {
      padding: 0.1rem 0.5rem;
    }

    .option_active,
    .options-list li:hover {
      cursor: pointer;
      font-weight: 700;
      @include themify($themes) {
        background-color: themed('btnBgBorHov');
        border-color: themed('btnBdBorHov');
      }
    }
  }

  &_transparent {
    input.autocomplete {
      @include inputAutocomplete();
      @include themify($themes) {
        background-color: themed('btnBgTp');
        border-color: themed('btnBdTp');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);

      &:hover {
        @include themify($themes) {
          background-color: themed('btnBgTpHov');
          border-color: themed('btnBdTpHov');
        }
      }
    }

    .options-list {
      @include optionsList();
      @include themify($themes) {
        background-color: themed('btnBgTp');
        border-color: themed('btnBdTp');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);
    }

    .options-list li {
      padding: 0.1rem 0.5rem;
    }

    .option_active,
    .options-list li:hover {
      cursor: pointer;
      font-weight: 700;
      @include themify($themes) {
        background-color: themed('btnBgTpHov');
        border-color: themed('btnBdTpHov');
      }
    }
  }

  &_transparent.btn_bordered {
    input.autocomplete {
      @include inputAutocomplete();
      @include themify($themes) {
        background-color: themed('btnBgTp');
        border-color: themed('btnBdBor');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);

      &:hover {
        @include themify($themes) {
          background-color: themed('btnBgTpHov');
          border-color: themed('btnBdBorHov');
        }
      }
    }

    .options-list {
      @include optionsList();
      @include themify($themes) {
        background-color: themed('btnBgTp');
        border-color: themed('btnBdBor');
        color: themed('btnContent');
      }
      @include addTransitionForProp(background-color, border-color, color);
    }

    .options-list li {
      padding: 0.1rem 0.5rem;
    }

    .option_active,
    .options-list li:hover {
      cursor: pointer;
      font-weight: 700;
      @include themify($themes) {
        background-color: themed('btnBgTpHov');
        border-color: themed('btnBdBorHov');
      }
    }
  }
}
