@import './../../style/theme-variables.scss';
@import './../../style/mixins.scss';

.layout {
  @include flex(row, flex-start, flex-start);
  flex: 1 0;
  min-width: 100%;
  min-height: 100vh;
  @include themify($themes) {
    background-color: themed('layoutBg');
    color: themed('txtColor');
  }
  @include addTransitionForProp(background-color, border-color);
  @include typography();
  position: relative;
}

.blur {
  filter: blur(0.4rem);
}

.ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 20rem;
}
